services:
    - NiclasVanEyk\LaravelRouteLinter\PHPStan\ViolationContainer
rules:
    - NiclasVanEyk\LaravelRouteLinter\PHPStan\ConfusingImplicitPathParameterRule
    - NiclasVanEyk\LaravelRouteLinter\PHPStan\ShadowedRouteRule
